<!DOCTYPE html>
<html lang="en">

<!-- Head elements -->
<head>
    <!-- Set character encoding -->
    <meta charset="UTF-8">
    <!-- Configure viewport for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Set the title of the webpage -->
    <title>Home</title>
    <!-- Link to the external CSS file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!-- Main heading of the webpage -->
    <h1>Hello and Welcome to my Webpage</h1>
    <!-- Introduction paragraph -->
    <p>This website goes to two other information pages and an about me page. </p>
    <!-- Unordered list of navigation links -->
    <ul>
        <!-- Link to Marvel information page -->
        <li><a href="{{ url_for('marvel') }}">Marvel</a></li>
        <!-- Link to DC information page -->
        <li><a href="{{ url_for('dc') }}">DC</a></li>
        <!-- Link to About Me page -->
        <li><a href="{{ url_for('about') }}">About Me</a></li>
    </ul>
    <!-- Display current date and time -->
    <p>Current date and time: {{ current_time }}</p>
</body>

</html>
